@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

body {
    background: linear-gradient(135deg, #1CD8D2, #93EDC7) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    background-size: cover;
    color:#fff;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;

}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.5em;
    margin-bottom: 5%;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}


/* ALL PANELS*/


.white-div{
    background: #fff;
    color: #0f0f0f;
    box-shadow: 1px 1px 2px 0.2px rgba(49, 49, 49, 0.64);
    border-radius: 0.2em;
    display: inline-block;
    vertical-align: top;
}

/*GRID SETTING PANEL*/

#grid-setting-panel{
    width: 15%;
    margin-left: 5%;
    margin-right: auto;
    padding: 2%;
    position: relative;
    left:;
}

#sizePicker * {
    margin-top: 1em;
}

form input{
    margin-left: 2em;
    margin-right: 2em;
}

input[type=number] {
    width: 4em;
    margin-left: 1em;

}


#pick-grid-color * {
    display: inline-block;
}


#grid-submit-button {
    margin-top: 2em;
}

#color-picker-div{
    margin-top: 2em;
}



/*GRID*/

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    border: 2px solid black;
}

tr {
    height: 20px; 
}

td {
    width: 20px;
}

#central-panel{
    display: inline-block;
    position: relative;
    left: ;
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
}

#table-div{
    width: 100%;
    background: #fff;
    padding: 1%;
}


/*TOOL PANEL*/

.tool-div{
    width: auto;
}

#tool-panel{
    display: inline-block;
    width: 6%;
    margin-right: 9%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#tool-panel button{
    width: 40px;
    height: 40px;
    font-size: 1.2em;
    margin: 5%;
    color: #120f2b;
    border: 1px solid #2a2a2a;
}

#tool-panel button:hover{
    color: #fff;
    background: linear-gradient(135deg, #1CD8D2, #93EDC7);
    border: 1px solid #2a2a2a;
}






