@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

body {
      background:#ffffff;
      color:#1d1d1d;
      text-align:center;
      font-family: 'Open Sans', sans-serif;
      font-weight:300;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.5em;
    margin-bottom: 5%;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px; 
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

#extras-buttons{
    margin: 5%;
}